body {
  background-color: #fafafa;
  width: 100vw;
  overflow: hidden;
}

.inline {
  display: inline-block;
  margin: 0;
}

.container {
  margin: auto;
  text-align: center;
}

.alpha {
  opacity: 0.5;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.nomargin {
  margin: 0;
}

.overlay {
  position: relative;
}

.arrowContainer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nextArrow, .prevArrow {
  position: absolute;
  top: 50%;
  opacity: 0.2;
  transition: opacity 0.1s;
  height: 30px;
}

.nextArrow:hover, .prevArrow:hover {
  cursor: pointer;
  opacity: 0.3;
}

.nextArrow {
  right: -15px;
  transform: translate(100%, -50%);
}

.prevArrow {
  left: -15px;
  transform: translate(-100%, -50%) rotateZ(180deg);
}
