.info {
  position: absolute;
  left: 0;
  top: 129px;
  width: 200px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.infoHidden {
  transform: translateX(-200px);
}

.infoContent {
  height: 55vh;
  max-height: 800px;
  min-height: 150px;
  font-size: 14px;
  overflow-y: scroll;
}

.infoContent::-webkit-scrollbar {
  display: none;
}

.infoHide {
  position: absolute;
  left: 215px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  opacity: 0.2;
  cursor: pointer;
}

.infoHide:hover{
  opacity: 0.4;
}

.infoHeader {
  margin: 0;
  padding-left: 15px;
  margin-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-style: italic;
}

.infoBody {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.arrowKeys {
  margin-top: 5px;
  text-align: center;
  font-size: 36px;
}

.keyActive {
  transition: color 0.1s;
  color: #FF4300;
}

@media (max-width: 1450px) {
  .info {
    display: none;
  }
}

@media (max-width: 1024px) {
  .infoContent {
    max-height: 350px;
  }
}

@media (max-width: 600px) {
  .info {
    display: none;
  }
}
