.viewer {
  padding-top: 25px;
}

.screen {
  height: 60vh;
  max-height: 60vh;
  min-height: 300px;
  max-width: 100%;
}

.screen iframe {
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.2);
}

.contentTitle {
  margin: 0;
  padding-top: 10px;
  text-align: left;
  font-size: 1.8rem;
  float: left;
  display: table;
}

.contentLink {
  color: inherit;
  text-decoration: none;
}

.contentLink:hover {
  color: inherit;
  text-decoration: underline;
}

.contentStats {
  text-align: left;
  padding-top: 3px;
}

.arrow {
  height: 11px;
}

.arrowUpvote {
  transform: rotateZ(180deg);
}
